<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>Crud</title>

    <style>
        .myform{
            width: 400px;
            background-position: center;
            margin: 20px auto 20px auto;
            padding: 10px;
            border-style: dashed;
            border-radius: 10px;
        }
        .sm_form{
            margin: 10px;
        }
        .table{
            width: 400px;
            background-position: center;
            margin: 20px auto 20px auto;
            padding: 10px;
        }

            .cre_bt{
                width: 70px;
                margin: 0px 10px 0px auto;
            }
        .del_bt{
            width: 130px;
            margin: 0px 20px 0px auto;
        }
        .modal-content{
              height: 350px;
          }
    </style>
    <script>
        $(document).ready(function () {
            show_name()
        });

        function save_name() {
            let First = $('#First').val()
            let Last = $('#Last').val()

            $.ajax({
                type: 'POST',
                url: '/crud',
                data: {
                    First_give: First, Last_give: Last
                },
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }

        function show_name() {
            $.ajax({
                type: "GET",
                url: "/crud",
                data: {},
                success: function (response) {
                    let rows = response['names']
                    for (let i = 0; i < rows.length; i++) {
                        let first = rows[i]['First']
                        let last = rows[i]['Last']
                        let num = rows[i]['num']

                        let temp_html = `<tr>
                                              <th scope="row">${num}</th>
                                              <td>${first}</td>
                                              <td>${last}</td>
                                                <td >
                                                    <div class="del_bt">
                                                    <button type="button" id="update_bt" class="btn btn-outline-warning">수정</button>
                                                    <button onclick="crud_delete(${num})"type="button" class="btn btn-outline-danger">삭제</button>
                                                        </div>
                                                </td>
                                            </tr>`
                        $('#name_list').append(temp_html)
                    }

                }
            });
        }

        function crud_delete(num){
            $.ajax({
                type: "POST",
                url: "/crud/delete",
                data: {num_give:num},
                success: function (response) {
                    alert(response["msg"])
                    window.location.reload()
                }
            });
        }

    </script>
</head>
<body>

        <form class="myform">
      <div class="col" style="padding: 10px;">
            First
        <div class="col sm_form">
          <input type="text" id="First" class="form-control" placeholder="First name">
        </div>
            Last
        <div class="col sm_form">
          <input type="text" id="Last" class="form-control" placeholder="Last name">
        </div>
          <div class="cre_bt">
            <button onclick="save_name()" type="button" class="btn btn-outline-secondary">등 록</button>
                </div>
      </div>

    </form>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody id="name_list">

            </tbody>
        </table>
<div id="update_modal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Update</h5>
                                </div>
                                <div class="modal-body">
                                    First
                                    <div class="col sm_form">
                                        <input type="text" id="upFirst" class="form-control" placeholder="First name">
                                    </div>
                                    Last
                                    <div class="col sm_form">
                                        <input type="text" id="upLast" class="form-control" placeholder="Last name">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary">Update</button>
                                    <button type="button" id="up_close" class="btn btn-secondary" data-dismiss="modal">Close
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $('#update_bt').click(function (e) {
                            e.preventDefault();
                            $('#update_modal').modal("show");
                        });
                        $('#up_close').click(function (e) {
                            e.preventDefault();
                            $('#update_modal').modal("hide");
                        });
                    </script>

</body>
</html>